# Exercícios sobre testes de hipóteses

In [1]:
#grade (write your code in this cell and DO NOT DELETE THIS LINE)

import pandas as pd
import numpy as np
from scipy import stats

**1)** Um escritório deseja analisar se a judicialiação em disputas contratuais de um de seus principais clientes corporativos está acima da média do setor, que é de 5%. 

Use um teste de hipóteses para determinar se a taxa do cliente é significativamente maior que média do setor. Retorne o valor-p do teste em uma variável chamada `valor_p`, com 4 casas decimais.

In [2]:
#grade (write your code in this cell and DO NOT DELETE THIS LINE)

# resultados de 100 contratos, onde 1 representa judicialização e 0 representa não judicialização
df_contratos = pd.DataFrame({
  'resultados_contratos': [
    0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,
    0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,
    0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
  ]
})

df_contratos

    resultados_contratos
0                      0
1                      0
2                      0
3                      0
4                      1
..                   ...
95                     0
96                     0
97                     0
98                     0
99                     1

[100 rows x 1 columns]

In [3]:
#grade (write your code in this cell and DO NOT DELETE THIS LINE)

# Calcule a média de disputas (taxa de disputa)
taxa_judicializacao = np.mean(df_contratos.resultados_contratos)

# Realize um teste de hipótese
# H0: taxa de disputas = 0.05 (média do setor)
# H1: taxa de disputas > 0.05

# Complete o teste aqui

dp_h0 = np.sqrt(0.05 * (1 - 0.05) / len(df_contratos))

estatistica_teste = (taxa_judicializacao - 0.05) / dp_h0

valor_p = round(stats.norm.sf(estatistica_teste), 4)

taxa_judicializacao, estatistica_teste, valor_p

(0.08, 1.3764944032233706, 0.0843)

**2)** Intervalo de Confiança para Litígios Empresariais

Uma empresa está tentando entender o risco financeiro associado a litígios relacionados a patentes. Para isso, coletou dados sobre o custo de 50 processos judiciais que são considerados como "perda provável". Nesse caso, é necessário guardar uma provisão para cobrir os custos esperados desses processos. Geralmente, as empresas guardam um valor um pouco acima do custo médio dos processos para garantir que a provisão seja suficiente.

Construa um intervalo de confiança de 95% para valor envolvido processos judiciais (em milhares) e retorne o limite superior do intervalo, arredondado para 3 casas decimais, em uma variável chamada `limite_superior`.

In [4]:
# valor envolvido dos processos (em milhares de reais)

dados_litigios = pd.DataFrame({
  'valor_envolvido': [141.43495852, 215.5468582 , 180.37052563, 212.66683265,
       250.90677187, 128.56483215, 129.58534667, 267.08521707,
       254.76910077, 150.88480105, 295.33393885, 137.19523569,
       200.91865536, 212.29506852, 239.38409754, 251.82152535,
       236.01835241, 240.85822   , 233.44699442,  79.80385203,
       212.45348027, 274.95365989, 218.73828066, 206.40259599,
       236.93354796, 242.32189686, 237.82372692, 168.22221251,
       209.84046841, 187.41601743, 197.41823474, 189.04203568,
       229.54494853, 206.71658167, 173.8904291 , 204.21199709,
       148.25822858, 215.42292431, 269.94472137, 177.41918425,
       249.56781917, 186.71542185, 166.51014733, 117.06520358,
       191.20809584, 309.42166125, 157.37172001, 173.38252301,
       157.9117557 , 264.38776365]
})

In [5]:
#grade (write your code in this cell and DO NOT DELETE THIS LINE)

n = len(dados_litigios)
dp = np.std(dados_litigios.valor_envolvido)
media = np.mean(dados_litigios.valor_envolvido)
z = stats.norm.ppf(0.975)

limite_superior = round(media + z * dp / np.sqrt(n), 3)

limite_superior

218.069


**3)** Análise de Prazos de Pagamento

Um escritório de advocacia especializado deseja analisar os padrões de pagamento de seus clientes para identificar atrasos significativos. O escritório tem clientes em diversos setores e está interessado em saber se os prazos médios de pagamento diferem significativamente entre o setor de tecnologia e o setor de serviços.

A base de dados contém as seguintes colunas: `cliente_id`, `setor`, `valor_fatura`, e `dias_pagamento`. O setor de tecnologia é representado como 'Tecnologia' e o setor de serviços como 'Serviços'.

In [6]:
#grade (write your code in this cell and DO NOT DELETE THIS LINE)

atraso_pagamento = pd.read_csv('https://github.com/jtrecenti/main-cdad2/releases/download/data/atraso_pagamento.csv')

atraso_pagamento

     cliente_id       setor  valor_fatura  dias_pagamento
0             1  Manufatura   4336.443625       36.990924
1             2  Tecnologia   1116.476348       35.998966
2             3  Manufatura   2912.196432       25.187519
3             4  Manufatura   2845.322597        9.062060
4             5  Tecnologia   7114.890592       31.299525
..          ...         ...           ...             ...
194         196    Serviços   3747.856834       63.088728
195         197  Manufatura   1372.091125       50.633821
196         198  Manufatura   1394.491389       24.426159
197         199    Serviços   3458.426439       52.276412
198         200  Tecnologia   9805.350022       19.562115

[199 rows x 4 columns]

**3a)** Compare os prazos médios de pagamento entre os dois setores. Faça um teste para a diferença de médias para determinar se há uma diferença estatisticamente significante entre as médias dos dois setores. Considere que as variâncias são desconhecidas e diferentes. Retorne o valor-p do teste em uma variável chamada `valor_p_tecnologia_servicos`, com 4 casas decimais.

In [7]:
#grade (write your code in this cell and DO NOT DELETE THIS LINE)

# vamos considerar que as variâncias são diferentes e desconhecidas
# para isso, vamos fazer um teste-t

# H0: atraso médio = 0
# H1: atraso médio != 0

estatistica_t, valor_p = stats.ttest_ind(
  atraso_pagamento.query('setor=="Tecnologia"')['dias_pagamento'],
  atraso_pagamento.query('setor=="Serviços"')['dias_pagamento']
)

valor_p_tecnologia_servicos = round(valor_p, 4)

estatistica_t, valor_p_tecnologia_servicos

(1.7560511043639375, 0.0815)

**3b)** Faça a mesma comparação considerando apenas os valores de fatura maiores de 2000 reais. A diferencia entre os setores é estatisticamente significante? Retorne o valor-p do teste em uma variável chamada `valor_p_tecnologia_servicos_maior_2000`, com 4 casas decimais.

In [8]:
#grade (write your code in this cell and DO NOT DELETE THIS LINE)

estatistica_t, valor_p = stats.ttest_ind(
  atraso_pagamento.query('setor=="Tecnologia" and valor_fatura > 2000')['dias_pagamento'],
  atraso_pagamento.query('setor=="Serviços" and valor_fatura > 2000')['dias_pagamento']
)

valor_p_tecnologia_servicos_maior_2000 = round(valor_p, 4)

estatistica_t, valor_p_tecnologia_servicos_maior_2000

(2.0100197544059983, 0.0469)

**3c)** (DESAFIO) Faça um teste comparando as médias de dias de pagamento dos 3 setores. Para isso, é necessário aplicar uma técnica chamada Análise de Variância (ANOVA). Retorne o valor-p do teste em uma variável chamada `valor_p_anova`, com 4 casas decimais.

In [9]:
#grade (write your code in this cell and DO NOT DELETE THIS LINE)


# H0: todas as médias são iguais
# H1: pelo menos uma média é diferente

# Complete o teste aqui

estatistica_f, valor_p = stats.f_oneway(
  atraso_pagamento.query('setor=="Tecnologia"')['dias_pagamento'],
  atraso_pagamento.query('setor=="Serviços"')['dias_pagamento'],
  atraso_pagamento.query('setor=="Manufatura"')['dias_pagamento']
)

valor_p_anova = round(valor_p, 4)

estatistica_f, valor_p_anova

(1.4569430257244296, 0.2355)